:root {
    --text: #20252A; /* used for text */
    --link: blue; /* used for links */
    --border: #1a1a1a; /* used for borders and things */
    --definition: #000; /* used for definition links */
    --autolink: grey; /* used for section links */
    --background: white; /* used for background colors */
}
@media (prefers-color-scheme: dark) {
    :root {
        --text: white;
        --link: #4DA6FF;
        --border: #CCCCCC;
        --definition: rgb(78, 109, 78);
        --autolink: grey;
        --background: #1a1a1a;
    }
}

ul li {
    padding-top: 2px;
    padding-bottom: 2px;
}

body {
    padding: 1em;
    max-width: 120ch;
    margin: 0 auto;
    color: var(--text);
}

html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background);
}

.broken-english-note {
    font-size: small;
}


footer {
    font-size: small;
    border-top: 1px solid var(--border);
    padding-top: .5em;
}

a,
a:visited {
    color: var(--link);
}

p {
    text-align: justify;
}

table {
    vertical-align: middle;
    display: inline-block;
    margin: 1em;

    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid var(--border);
    padding: 3px;
}

table td:last-child {
    text-align: right;
}

td.indent:before {
    content: "- ";
}

span.annot {
    font-size: small;
    vertical-align: super;
}

span.annot::before {
    content: "["
}

span.annot::after {
    content: "]"
}


span.annot a {
    color: var(--definition);
    text-decoration: underline;
}

details summary {
    cursor: pointer;
}

details summary>* {
    display: inline;
}

details {
    vertical-align: top;
}

span[role="note"] {
    font-size: small;
    color: var(--border);
    display: block;
}

ul.inline {
    display: inline-block;
    padding: 0;
    list-style: none;
}

ul.inline li {
    display: inline;
}

ul.inline li:not(:last-child)::after {
    content: ", ";
}

/** adapted from http://ben.balter.com/2014/03/13/pages-anchor-links/ */
a.autolink {
    position: relative;
    left: 0.5em;
    opacity: 0;
    font-size: 0.8em;

    transition: opacity 0.2s ease-in-out 0.1s;

    color: var(--autolink);
    text-decoration: none;
}

h2:hover .autolink,
h3:hover .autolink,
h4:hover .autolink,
h5:hover .autolink,
h6:hover .autolink {
    opacity: 1;
}

#autosort-ui .active {
    font-weight: bold;
}
#autosort-list li.sorted-list-item {
    height: 1.25em;
}

.autosort-ui summary {
    font-size: small;
}

.badge {
    position: relative;
    top: -0.1em;
    padding: 0.2em;
    font-size: 0.5em;
    background-color: var(--definition);
    color: var(--background);
    border-radius: 0.2em;
}