body {
    padding: 1em;

    max-width: 120ch;
    margin: 0 auto;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


footer {
    font-size: small;
    border-top: 1px solid black;
    padding-top: .5em;
}

a,
a:visited {
    color: blue;
}

p {
    text-align: justify;
}

table {
    vertical-align: middle;
    display: inline-block;
    margin: 1em;

    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid black;
    padding: 3px;
}

table td:last-child {
    text-align: right;
}

td.indent:before {
    content: "- ";
}

span.annot {
    font-size: small;
    vertical-align: super;
}

span.annot::before {
    content: "["
}

span.annot::after {
    content: "]"
}


span.annot a {
    color: black;
    text-decoration: underline;
}

details summary {
    cursor: pointer;
}

details summary>* {
    display: inline;
}

details {
    vertical-align: top;
}

span[role="note"] {
    font-size: small;
    color: #1a1a1a;
    display: block;
}

ul.inline {
    display: inline-block;
    padding: 0;
    list-style: none;
}

ul.inline li {
    display: inline;
}

ul.inline li:not(:last-child)::after {
    content: ", ";
}

/** adapted from http://ben.balter.com/2014/03/13/pages-anchor-links/ */
a.autolink {
    position: relative;
    left: 0.5em;
    opacity: 0;
    font-size: 0.8em;

    transition: opacity 0.2s ease-in-out 0.1s;

    color: gray;
    text-decoration: none;
}

h2:hover .autolink,
h3:hover .autolink,
h4:hover .autolink,
h5:hover .autolink,
h6:hover .autolink {
    opacity: 1;
}