{{ template "inc_head.html" . }}
<title>FauLunch</title>

<header>
    <h1>
        FAULunch
    </h1>
    <nav>
        <p>
            {{ .Alternate }}
        </p>
    </nav>
</header>

<p>
    {{ if .English }}
        This page contains a simple menu for all serveries and cafes belonging to <a href="https://www.fau.de/">Friedrich-Alexander-Universität Erlangen-Nürnberg</a>.
    {{ else }}
        Diese Seite enthält ein einfaches Menü für all Mensas und Cafeten der <a href="https://www.fau.de/">Friedrich-Alexander-Universität Erlangen-Nürnberg</a>.
    {{ end }}
</p>

<h2>
    {{ if .English }}
    List Of Places To Eat
    {{ else }}
    Liste von Orten
    {{ end }}</h1>
</h2>


<ul>
    {{ $english := .English }}
    {{ range .Locations }}
    {{ $desc := .Description }}
    <li>
        <a href="/{{ if $english }}en{{else}}de{{end}}/{{.}}" title="{{ if $english }}Menu for{{else}} Menü für{{end}} {{ $desc.Name }}">{{ $desc.Name }}</a>, {{ $desc.Type $english }}
    </li>
    {{ end }}
</ul>

{{ template "inc_footer.html" . }}